<%- include('partials/header.ejs') %> 
    <div class="container-form card p-2 mt-100">
        <h3 class="mb-5 text-center display-6">Admin - Create new user</h3>
        <form method="POST">
            <input class="form-control" type="text" name="name" placeholder="Type your name"/>
            <input class="form-control" type="email" name="email" placeholder="example@hotmail.com"/>
            <input class="form-control" type="tel" name="phone" placeholder="2122344559"/>
            <button class="btn btn-primary mt-10" type="submit" >Enviar</button>
        </form>
    </div>
</body>
</html>