<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div>
        <h1>Contact US</h1>
        <form method="POST">
            <input type="text" name="name" placeholder="Type your name"/>
            <input type="email" name="email" placeholder="example@hotmail.com"/>
            <input type="tel" name="phone" placeholder="2122344559"/>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>